{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Checkrequest</title>
    <link rel="stylesheet" href="{% static '/templates/css/styles.css' %}">
    <link rel="stylesheet"
                  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                  crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static '/templates/js/checkrequest.js' %}"></script>
    </head>
    <body>

        <div class="container">
            <div class="row mt-5 " >
                <div style="height: 275px; width: 1000px" class=" text-center scrollable ">
                    <table class="table table-bordered table-striped " id="requests">
                        <tr class="bg-info" id="header">
                        </tr>

                    </table>
                </div>

            </div>
        </div>
        <div class="row mt-4" >
            <div style="height: 250px;" id="userinfo" class="jumbotron col-md-3 offset-1 offset-md-3 d-none">

            </div>
            <div class="position-fixed offset-md-9 offset-9">
                <button type="button" class="btn btn-light" onclick="logout()">Logout</button>
            </div>
        </div>
        <script>
            // GET
            fetch("api/",{
                method: 'GET',
                headers:{
                    'Authorization' : 'Bearer '+localStorage.getItem("token"),
                    'Content-Type': 'application/json'
                }
            })
            // Converting received data to JSON
            .then(response => {
                if(response.ok){
                    return response.json()
                }else{
                    window.location.href = "/";
                }
            })
            .then(json => {
                 if(json.length > 0){document.getElementById('header').innerHTML = '<th>request_id</th><th>worker_id</th><th>created</th><th>start_date</th><th>end_date</th><th>days</th><th>status</th><th>remaining_leaves</th>';}
                // Create a variable to store HTML
                var table = document.getElementById('requests');

                var i = 0;
                // Loop through each data and add a table row
                json.forEach(request => {
                    i++;
                    row = `<tr>
                        <td>${request.request_id} </td>
                        <td><input type="button" value="${request.worker_id}" onclick="getUserInfo('${request.worker_id}')"/></td>
                        <td>${request.created} </td>
                        <td>${request.start_date}</td>
                        <td>${request.end_date} </td>
                        <td>${request.days} </td>
                        <td>${request.status}</td>
                        <td id='rl'>${request.remaining_leaves} </td>
                        <td><input type="button" value="Approve" id='approve${request.request_id}' onclick="approveRequest('${i}', '${request.request_id}')"/></td>
                        <td><input type="button" value="Reject" id='reject${request.request_id}' onclick="rejectRequest('${i}', '${request.request_id}')"/></td>
                    </tr>`;
                    table.innerHTML += row;

                });
            })
            .catch(error => console.log(error));
        </script>
    </body>
</html>
